<div id="friend-list">
  <ul class="list-group">
    <% current_user.friendships.each do |friendship| %>
      <li class="list-goup-item"><%= friendship.friend.full_name %></li>
    <% end %>
  </ul>
</div>